.icon{
    background-color: green;
    display: inline-block;
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    color:white;
    fa-icon{
        display: inline-block;
        margin-top:4px;
    }
}
.chosen{
    color:black;
}
